# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Max Chang
	email = mchang09@gmail.com
#[mergetool "sublime"]
#	cmd = sublime -w $MERGED
#	trustExitCode = false
[merge]
	tool = sublime
